@model IEnumerable<Assignment1.Net.Models.Idea>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Isolation Ideas with MVC";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 image-head">
                <div class="image-text">
                    <h1 id="#imgcap">14 fun things to do in isolation time</h1>
                    <h3>With Charles</h3>
                    <a class="exploreButton" href="#greet" style="background-color: chocolate">Explore More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 greetbox">
                <section id="greet">
                    <h2>Greeting to you</h2>
                    <span runat="server" id="hSR" class="SResultHead"></span>
                    <asp:Label runat="server" ID="labl1" CssClass="SResultCon"></asp:Label>
                    <p>
                        Corona virus is threatning every person's lives and the government is forcing us to stay at home.
                        However, just by staying at home makes you feel much uncomfortable and boring. Me either. Thus, i made a list
                        on what can we do at our home or backyard to kill our boredom. So enjoy my list of 14 different ideas to do while
                        we are on isolation.<span style="font-weight:bold">Happy Qurantine Days!</span>
                    </p>
                </section>
            </div>
            <div class="col-lg-3">
                
                <div style="width:100%;height:80%;padding-bottom:45%;position:relative;"><iframe src="https://giphy.com/embed/3otWpBv8l7D9DJKyKk" id="gifID" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            </div>
        </div>
    </div>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-columns imagebox">
                @foreach (var item in Model)
                {
                    var names = @Html.DisplayFor(modelItem => item.title);
                    var id = @Html.DisplayFor(modelItem => item.ideaID);
                    <div class="card shrink">
                        <img class="card-image-top" src="@Url.Content(item.Image.thumbnail)" alt="@Url.Content(item.Image.alternateText)" />
                        <div class="card-body">
                            @Html.ActionLink(id.ToString()+ ". " + names.ToString(), "NavigateDetail", new { id = item.ideaID }, new { target="_blank" ,@class = "card-title" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom.js")"></script>
    }
